config/.env
config/youtube_token.json
.env
logs/
__pycache__/
core/__pycache__/
notifier/__pycache__/
utils/__pycache__/
logs
config/client_secrets.json
logs
config/client_secrets.json
output/
venv/
*.pyc
